/* app/globals.css */
html,
body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%; /* Important for full-height chat layout */
  background-color: #e0e0e0; /* Background outside the chat container */
}

body > div:first-child { /* Targeting Next.js root div */
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}